:root {
    --main-color: rgb(131, 94, 4);
    --accent-color: darkgreen;
}

* {
    font-family: Helvetica, sans-serif;
}

main {
    display: grid;
    row-gap: 50px;
    position: relative;
    height: 100%;
    width: 100%;
}

h1.header {
    margin: 0px;
    margin-top: 50px;
    font-size: 70px;
    font-weight: 700;
    justify-self: center;
}

button#add-book {
    height: 100px;
    width: 100px;
    border-radius: 100px;
    border: none;
    box-shadow: 2px 2px 5px 5px rgb(0 0 0 / 15%);
    background-color: var(--main-color);
    color: white;
    font-size: 20px;
    font-weight: 700;
    position: absolute;
    bottom: 50px;
    right: 50px;
}

.book-container {
    --side-margin: 250px;
    display: flex;
    grid-row: 2 / 3;
    row-gap: 20px;
    column-gap: 20px;
    flex-flow: row wrap;
    margin: 0 var(--side-margin) 0 var(--side-margin);
}

.book {
    font-size: 20px;
    font-weight: 700;
    
    height: 150px;
    width: 100px;
    
    background-color: var(--main-color);
    color: white;
    box-shadow: 2px 2px 5px 5px rgb(0 0 0 / 15%);
    border-radius: 5px;
    
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    row-gap: 15px;
    
}

form {
    opacity: 1;
    position: absolute;
    top: -1000%;
    left: -1000%;
    display: flex;
    flex-flow: column;
    align-items: flex-start;
    row-gap: 5px;
}
form button.exit {
    background-color: var(--accent-color);
    color: white;
}

form button.exit:hover {
    background-color: white;
    color:var(--accent-color);
}

form button.exit:active {
    color: var(--main-color);
    background-color: var(--main-color) ;
    border-color: var(--main-color);
}

form button[type=submit]:hover {
    background-color: var(--accent-color);
    color: white;
}

form button[type=submit]:active {
    color: var(--main-color);
    background-color: var(--main-color) ;
    border-color: var(--main-color);
}

form button {
    font-weight: 900;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    color: var(--accent-color);
    background-color: white;
    border: 2px var(--accent-color) solid;
}


form label {
    font-weight: 700;
    color: var(--accent-color);
}

form div {
    display: flex;
    column-gap: 25px;
    align-items: center;
    justify-content: center;
}

.active {
    opacity: 1;
    background: white;
    left: 40%;
    top: 40%;
    position: absolute;
    border-radius: 10px;
    padding: 20px 60px;
    box-shadow: 2px 2px 5px 5px rgb(0 0 0 / 15%);
}

.book button {
    font-weight: 900;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    color: var(--accent-color);
    background-color: white
}

.book button:hover {
    color: white;
    background-color: var(--accent-color);
}